// Colors
$main-color: hsl(250, 69%, 60%);
$main-lighter: hsl(250, 69%, 70%);
$dark-gray: hsl(250, 7%, 16%);

// Font sizes
$font-xxlarge: 7rem;
$font-xlarge: 4rem;
$font-large: 2.5rem;
$font-med: 1.6rem;
$font-small: 1.4rem;
